html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	padding: 0;
	margin: 0;
	font-family: "Arial", sans-serif;
  font-size: 16px;
}
.visually-hidden {
  position: absolute;
  width: 1px; 
  height: 1px; 
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.site-title {
  text-align: center;
}
.search-form {
  display: flex;
  justify-content: center;
}
.search-form input,
.search-form select,
.search-form button {
  padding: 10px 15px;
  border: 1px solid #aaa;
  margin: 0 15px;
  border-radius: 4px;
}
.search-form__submit-button {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/*MOVIES LIST*/
.movies__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}